WEB_PORT=4400
PUBLIC_APP_URL=

POSTGRES_DB=torrent_shred_vault
POSTGRES_USER=torrent_user
POSTGRES_PASSWORD=replace-with-private-db-password

JWT_SECRET=replace-with-long-random-jwt-secret
SHARE_VAULT_SECRET=replace-with-long-random-share-secret
PEER_TRANSFER_SECRET=replace-with-long-random-peer-secret
DEFAULT_ADMIN_EMAIL=mail@arifmahmud.com
DEFAULT_ADMIN_PASSWORD=password
SYNC_TRANSPORT_MODE=peer
PEER_DEFAULT_PORT=44888

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=replace-with-private-minio-password
MINIO_BUCKET=vault-data

UPDATE_REPO_URL=https://github.com/pranto48/torrent-shred-vault.git
UPDATE_REPO_BRANCH=main
COMPOSE_PROJECT_NAME=torrent-shred-vault
