WEB_PORT=4400
PUBLIC_APP_URL=http://192.168.20.5:4400

POSTGRES_DB=torrent_shred_vault
POSTGRES_USER=torrent_user
POSTGRES_PASSWORD=replace-with-private-db-password

JWT_SECRET=replace-with-long-random-jwt-secret
SHARE_VAULT_SECRET=replace-with-long-random-share-secret
DEFAULT_ADMIN_EMAIL=mail@arifmahmud.com
DEFAULT_ADMIN_PASSWORD=replace-with-private-admin-password

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=replace-with-private-minio-password
MINIO_BUCKET=vault-data

UPDATE_REPO_URL=https://github.com/pranto48/torrent-shred-vault.git
UPDATE_REPO_BRANCH=main
COMPOSE_PROJECT_NAME=torrent-shred-vault
